* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
  }
  html, body {
    overflow-x: hidden;
  }
  
  nav {
    background: white;
    color: #1A1A1A;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-family: bely-display, sans-serif;
  }
  
  /*** INPUT ***/
  nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  
  /*** LABEL ***/
  nav label {
    cursor: pointer;
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
  }
  
  /* Hamburger Icon */
  #menu-icon,
  #menu-icon:before,
  #menu-icon:after {
    background: #1A1A1A;
    border-radius: 0.05em;
    height: 0.1em;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }
  
  #menu-icon {
    display: inline-block;
    max-width: 1em;
    position: relative;
  }
  
  
  
  #menu-icon:before,
  #menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
  justify-content: flex-start;
  }
  
  #menu-icon:before {
    top: -0.4em;
  }
  
  #menu-icon:after {
    bottom: -0.4em;
  }
  
  /* Close Icon */
  nav input[type=checkbox]:checked + label #menu-icon {
  }
  
  nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
  }
  
  nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  
  /*** MENU ***/
  /* Overlay */
  nav input:checked ~ #overlay {
    background: white;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
  
  /* List */
  nav ul {
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 100%;
  
  }
  
  nav input:checked ~ ul {
    max-height: initial;
    opacity: 1;
  }
  
  nav ul > li {
    margin: 5px;
    padding: 10px;
    border-bottom: 2px solid black;
    width: 100%;
  }
  
  #sobre {
  border-top: 2px solid black;
  }
  
  nav ul a {
    color: #1A1A1A;
    text-decoration: none;
    font-family: bely-display, sans-serif!important;
    font-size: 3em;
  
  }
  
  nav ul a:hover {
    text-decoration: underline;
  }
  
  a:hover {
    color: #1A1A1A;
    text-decoration: none;
  }

  footer {
    background: url('../img/fundo-footer.png');
  
  }
  
  footer div.container-fluid {
    padding: 50px;
  }
  
  div.footer-info p {
    color: #ffffff;
    font-weight: bold;
    text-align:center;
  }
  
  div.footer-social {
    text-align:center;
  }
  div.footer-social .row .col-md-4 {
    color: #fff;
    font-size: 24px;
  }

  section.container-fluid {
      margin-top: 5%;
      margin-bottom: 5%;
  }

  div.col-md-6 h1 {
      padding-top: 10%;
      font-family: bely-display, sans-serif;
      font-size: 53px;
      color: #6D0FD8;
  }

  div.col-md-6 p {
      color: #8A8A8A;
  }

  label {
      color: #6D0FD8;
  }
