footer {
    background: url('../img/fundo-footer.png');
  
}
  
footer div.container-fluid {
    padding: 50px;
}
  
div.footer-info p {
    color: #ffffff;
    font-weight: bold;
  text-align:center;
}
  
div.footer-social {
    text-align:center;
}
div.footer-social .row .col-md-4 {
    color: #fff;
    font-size: 24px;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
html, body {
    overflow-x: hidden;
}
    
nav {
    background: white;
    color: #1A1A1A;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-family: bely-display, sans-serif;
}
    
    /*** INPUT ***/
nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
    
    /*** LABEL ***/
nav label {
    cursor: pointer;
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
}
    
    /* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #1A1A1A;
    border-radius: 0.05em;
    height: 0.1em;
    transition: all 0.2s ease-in-out;
    width: 100%;
    }
    
#menu-icon {
    display: inline-block;
    max-width: 1em;
    position: relative;
}
    
    
    
#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
    justify-content: flex-start;
}
    
#menu-icon:before {
    top: -0.4em;
}
    
#menu-icon:after {
    bottom: -0.4em;
}
    
    /* Close Icon */

    
nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}
    
nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}
    
    
    /*** MENU ***/
    /* Overlay */
nav input:checked ~ #overlay {
    background: white;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
    }
    
    /* List */
nav ul {
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 100%;
    
}
    
nav input:checked ~ ul {
    max-height: initial;
    opacity: 1;
}
    
nav ul > li {
    margin: 5px;
    padding: 10px;
    border-bottom: 2px solid black;
    width: 100%;
}
    
#sobre {
    border-top: 2px solid black;
}
    
nav ul a {
    color: #1A1A1A;
    text-decoration: none;
    font-family: bely-display, sans-serif!important;
    font-size: 3em;
    
}
    
nav ul a:hover {
    text-decoration: underline;
}
    
a:hover {
    color: #1A1A1A;
    text-decoration: none;
}

    /** inicio do css da pagina **/

    section.container {
        margin-top: 5%;

    }
#primeirocard {
    background-color: #000000;
    padding-top: 20px;

}

#primeirocard h1 {
    color:#BBBBBA;
    font-family: bely-display, sans-serif;
    font-style: italic;
    margin-right: 10px;
    font-size: 50px;
    
}

#statusexpos {
    width:100%;
    background-color:#BBBBBA;
    color:black;
    margin-top: 20%;
}

#statusexpos p {
    padding: 10px;
}

#embreve {
    padding: 0 10px 10px 10px;
}

.virtualexp {
    background-color: red;
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-top: -35px;
}
.card {
    margin-bottom: 25px;
    border: none;

}

.card-title {
    font-size:24px;
    font-style: italic;
    margin-bottom: -2px;
    margin-top: 20px;
    
}

.card-text, .card-info {
  color: #8A8A8A;
  font-style: italic;
  font-size: 14px;
}

.card-body {
    padding: 0;
}

.card-img-top {
    height: 219px;
}

footer {
  background: url('../img/fundo-footer.png');

}

footer div.container-fluid {
  padding: 50px;
}

section.header {
    align-content: center;
}

section.header h1 {
  font-family: bely-display, sans-serif;
  font-size: 4rem;
}

.btn-expos {
    padding: 5%;
    margin-right: 10%;
}

a.links-expos {
    text-decoration: none;
    color: black;
}

a.links-expos:hover {
    color:#00B9FF;
}


.card {
    transition-duration: 0.5s;
}
.card:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

footer {
    background: url('../img/fundo-footer.png');
    padding: 25px;
  
  }
  
  .fa-facebook-f, .fa-pinterest, .fa-instagram {
    color: white;
    font-size: 24px;
    margin-right: 5%;
  }
  
  .logo-footer {
    margin-top: 5%;
  }
  
  /*footer div.container-fluid {
    padding: 50px;
  }
  
  div.footer-info p {
    color: #ffffff;
    font-weight: bold;
    text-align:center;
  }
  
  div.footer-social {
    text-align:center;
  }
  div.footer-social .row .col-md-4 {
    color: #fff;
    font-size: 24px;
  }
  
  div.footer-info img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  */
  .btn-form {
    width: 100%;
    border: none;
    padding: 2%;
  }
  .footer-item ul {
    list-style: none;
      padding-left: 3px;
    }
  
    .footer-item ul li a {
      color: white;
    }
    
    .footer-item ul li a:hover {
      color:#00B9FF;
    }
  
    .open h4 {
      opacity: 0.3;
    }
    
    .footer-item, .footer h4 {
      color: white;
    }
    