* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
  }
  html, body {
    overflow-x: hidden;
  }
  
  nav {
    background: white;
    color: #1A1A1A;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-family: bely-display, sans-serif;
  }
  
  /*** INPUT ***/
  nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  
  /*** LABEL ***/
  nav label {
    cursor: pointer;
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
  }
  
  /* Hamburger Icon */
  #menu-icon,
  #menu-icon:before,
  #menu-icon:after {
    background: #1A1A1A;
    border-radius: 0.05em;
    height: 0.1em;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }
  
  #menu-icon {
    display: inline-block;
    max-width: 1em;
    position: relative;
  }
  
  
  
  #menu-icon:before,
  #menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
  justify-content: flex-start;
  }
  
  #menu-icon:before {
    top: -0.4em;
  }
  
  #menu-icon:after {
    bottom: -0.4em;
  }
  
  /* Close Icon */

  
  nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
  }
  
  nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  
  /*** MENU ***/
  /* Overlay */
  nav input:checked ~ #overlay {
    background: white;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
  
  /* List */
  nav ul {
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 100%;
  
  }
  
  nav input:checked ~ ul {
    max-height: initial;
    opacity: 1;
  }
  
  nav ul > li {
    margin: 5px;
    padding: 10px;
    border-bottom: 2px solid black;
    width: 100%;
  }
  
  #sobre {
  border-top: 2px solid black;
  }
  
  nav ul a {
    color: #1A1A1A;
    text-decoration: none;
    font-family: bely-display, sans-serif!important;
    font-size: 3em;
  
  }
  
  nav ul a:hover {
    text-decoration: underline;
  }
  
  a:hover {
    color: #1A1A1A;
    text-decoration: none;
  }

  footer {
    background: url('../img/fundo-footer.png');
    padding: 25px;
  
  }
  
  .fa-facebook-f, .fa-pinterest, .fa-instagram {
    color: white;
    font-size: 24px;
    margin-right: 5%;
  }
  
  .logo-footer {
    margin-top: 5%;
  }
  
  /*footer div.container-fluid {
    padding: 50px;
  }
  
  div.footer-info p {
    color: #ffffff;
    font-weight: bold;
    text-align:center;
  }
  
  div.footer-social {
    text-align:center;
  }
  div.footer-social .row .col-md-4 {
    color: #fff;
    font-size: 24px;
  }
  
  div.footer-info img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  */
  .btn-form {
    width: 100%;
    border: none;
    padding: 2%;
  }
  .footer-item ul {
    list-style: none;
      padding-left: 3px;
    }
  
    .footer-item ul li a {
      color: white;
    }
    
    .footer-item ul li a:hover {
      color:#00B9FF;
    }
  
    .open h4 {
      opacity: 0.3;
    }
    
    .footer-item, .footer h4 {
      color: white;
    }
    

  div.foto-artista {
      background-image: url("../img/Retângulo\ 104.png");
      background-size: cover;
      height: 100vh;
      margin: 0;
  }

  div.info h1 {
    font-family: bely-display, sans-serif;
    font-size: 60px;
  }

div.info {
    padding: 5%;
}

div.colagem {
    background-image:url("../img/Grupo\ de\ máscara\ 5.png");
    background-repeat: repeat-y;
    height: 100vh;
}

button.btn-success {
    padding: 15px 20px 15px 20px;
    color: #000000;
    background-color:#FFD500;
    border: none;
    
}

button.btn-success:hover {
    background-color: #bead56;
}

section.obras {
    padding-top: 5%;
}

section.obras p {
    font-size: 15px;
}

div.img-obras {
  height: 200px;
  background-image: url('../img/9616b34f8353e4e19888bfa1fe789d13.jpg');
  background-position: center;

}

.card-obras {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 15%;
  transition-duration: 0.5s;

}

.card-obras:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  cursor: pointer;
}

img.img-artistas {
  margin-bottom: 10%;
  border-radius: 100%;
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
  transition-duration: 0.5s;
}

.col-12 h1 {
  padding-top: 20%;
  font-family: bely-display, sans-serif;
  font-size: 48px;
}

img.img-artistas:hover {
  filter: none;
  -webkit-filter: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

