* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
  }
  html, body {
    overflow-x: hidden;
  }
  
  nav {
    background: white;
    color: #1A1A1A;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-family: bely-display, sans-serif;
  }
  
  /*** INPUT ***/
  nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  
  /*** LABEL ***/
  nav label {
    cursor: pointer;
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
  }
  
  /* Hamburger Icon */
  #menu-icon,
  #menu-icon:before,
  #menu-icon:after {
    background: #1A1A1A;
    border-radius: 0.05em;
    height: 0.1em;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }
  
  #menu-icon {
    display: inline-block;
    max-width: 1em;
    position: relative;
  }
  
  
  
  #menu-icon:before,
  #menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
  justify-content: flex-start;
  }
  
  #menu-icon:before {
    top: -0.4em;
  }
  
  #menu-icon:after {
    bottom: -0.4em;
  }
  
  /* Close Icon */
  nav input[type=checkbox]:checked + label #menu-icon {
  }
  
  nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
  }
  
  nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  
  /*** MENU ***/
  /* Overlay */
  nav input:checked ~ #overlay {
    background: white;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
  
  /* List */
  nav ul {
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 100%;
  
  }
  
  nav input:checked ~ ul {
    max-height: initial;
    opacity: 1;
  }
  
  nav ul > li {
    margin: 5px;
    padding: 10px;
    border-bottom: 2px solid black;
    width: 100%;
  }
  
  #sobre {
  border-top: 2px solid black;
  }
  
  nav ul a {
    color: #1A1A1A;
    text-decoration: none;
    font-family: bely-display, sans-serif!important;
    font-size: 3em;
  
  }
  
  nav ul a:hover {
    text-decoration: underline;
  }
  
  a:hover {
    color: #1A1A1A;
    text-decoration: none;
  }

h1 {
	font-family: 'Bely Display', sans-serif;
	font-size: 45px;
	font-weight: bold;
}


#letra {
	color: #1A1A1A;
	text-decoration: none;
}

#artistas {
	border-radius: 100%;
	margin-top: 10%;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	margin-top: 2%;
	margin-right: 22%;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	color: #888888;
	text-align: center;
	margin-right: 22%;
}

.btn {
      background-color: #CE3A65;
      border-radius: 0;
      font-weight: bold;
      color: white;
	  margin-left: 11%;
}

#filtros {
      padding: 0px;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  select {
    border-color:#8A8A8A;
    padding:5%;
    width:100%;
    color: #8A8A8A;
  }

  footer {
    background: url('fundo-footer.png');
  	margin-top: 8%;
  }
  
  footer div.container-fluid {
    padding: 50px;
  }
  
  div.footer-info p {
    color: #ffffff;
    font-weight: bold;
    text-align:center;
  }
  
  div.footer-social {
    text-align:center;
  }
  div.footer-social .row .col-md-4 {
    color: #fff;
    font-size: 24px;
  }