* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

aside.nav {
    position:fixed;
    top: 0;
    left: 0;
    height:100vh;
    width: 80px;
    background-color: #b8b1b1;
}

/*aqui começa o menu, não mexa!*/
/************************************************/
/****************** NAVIGATION ******************/
/************************************************/
nav {
    background: #white;
    color: #1A1A1A;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*** INPUT ***/
nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*** LABEL ***/
nav label {
    cursor: pointer;
    display: block;
    font: 2em/1 'Oswald', sans-serif;
    padding: 0.5em;
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #1A1A1A;
    border-radius: 0.05em;
    height: 0.1em;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 1em;
    position: relative;
}



#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
	justify-content: flex-start;
}

#menu-icon:before {
    top: -0.4em;
}

#menu-icon:after {
    bottom: -0.4em;
}

/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
}

nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}

nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}


/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
    background: #white;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

/* List */
nav ul {
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
	font: 65px 'Bely Display', sans-serif;
	width: 100%;

}

nav input:checked ~ ul {
    max-height: initial;
    opacity: 1;
}

nav ul > li {
    margin: 5px;
	padding: 10px;
	border-bottom: 2px solid black;
	width: 100%;
}

#sobre {
	border-top: 2px solid black;
}

nav ul a {
    color: #1A1A1A;
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
}

a:hover {
    color: #1A1A1A;
    text-decoration: none;
}